@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;

    background: #efefef;
}

.grid-box{
    position: relative;
    display: grid;
    grid-template-columns: auto repeat(4, 300px) auto;
    grid-gap: 50px;
    justify-content: center;
    margin: 0 auto;
}

.header{
    height: 200px;
    border: 2px red solid;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;

    line-height: 200px;
    font-size: 50px;
    text-align: center;
}



.sort{
    height: 100px;
    border: 2px blue solid;
    grid-column-start: 3;
    grid-column-end: 6;

    line-height: 100px;
    font-size: 50px;
    text-align: center;
}

